/* regole generali */

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* mio bottone personalizzato */
.ms-button {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

.ms-button:hover {
    color: #ffffff;
}

.ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #363636;
}

.ms-button-border {
    padding: 2px;
    box-shadow: none;
    border-radius: 30px;
    transition: all .2s ease;
}

.ms-button-inside {
    background-color: #363636;
    padding: 5px 15px;
    border-radius: 30px;
}

/* ////////////////////////////////////////// */
/* header */


/* logo sony */
header #sony-logo {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

header #sony-logo img {
    height: 15px;
}

/* navbar */

header nav div div#navbarNav li.nav-item {
    display: flex;
    align-items: center;
}

header nav div div#navbarNav:last-child li.nav-item:last-child {
    margin: 10px 0;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child {
        margin: 0 0 0 10px;
    } 
}

header nav div div#navbarNav:last-child li.nav-item:last-child img {
    height: 30px;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child img {
        padding: 0;
    } 
}
