/* regole generali */

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* spazi laterali alla dimensione minima per le cose a tutto schermo */
@media (max-width: 576px) {
    .container {
        padding: 10px !important;
    }
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.2rem;
}

/* mio bottone personalizzato */
.ms-button {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
}

.ms-button:hover {
    color: #ffffff;
}

.ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #363636;
}

.ms-button .ms-button-border {
    padding: 2px;
    box-shadow: none;
    border-radius: 30px;
    transition: all .2s ease;
}

.ms-button .ms-button-inside {
    background-color: #363636;
    padding: 5px 15px;
    border-radius: 30px;
}

.ms-wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

/* ////////////////////////////////////////// */
/* header */


/* logo sony */
header #sony-logo {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

header #sony-logo img {
    height: 15px;
}

/* navbar */

header .navbar {
    background-color: #ffffff;
}

header nav div div#navbarNav li.nav-item {
    display: flex;
    align-items: center;
}
/* 
header nav div div#navbarNav li.nav-item a .ms-chevron-down {
    display: inline-block;
    height: 15px;
    width: 15px;
        background-image: url('../img/chevron-down-solid.svg');
} */

header nav div div#navbarNav li.nav-item a img {
    height: 15px;
}

header nav div div#navbarNav:last-child li.nav-item:last-child {
    margin: 10px 0;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child {
        margin: 0 0 0 10px;
    } 
}

header nav div div#navbarNav:last-child li.nav-item:last-child img {
    height: 30px;
}

@media (min-width: 992px) {
    header nav div div#navbarNav:last-child li.nav-item:last-child img {
        padding: 0;
    } 
}

/* ////////////////////////////////////////// */
/* jumbotron */

#jumbotron-section .jumbotron {
    margin-top: 111px;
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

#jumbotron-section .jumbotron > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#jumbotron-section .jumbotron .container div.row:first-child div img {
    max-width: 100%;
    margin: 10px 0;
}

#jumbotron-section .jumbotron h2, #jumbotron-section .jumbotron p {
    color: #ffffff;
    padding: 20px 0;
}

#jumbotron-section .ms-button .ms-button-inside {
    background-color: #cd3d0f;
} 

#jumbotron-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #cd3d0f;
}

/* thumbnail giochi */

#jumbotron-section > .container {
    padding: 50px 0;
}

#jumbotron-section > .container .row .col {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    #jumbotron-section > .container .row .col {
        margin: 0;
    }
}

#jumbotron-section > .container .row .col .ms-img-container {
    padding: 3px;
    border-radius: 15px;
    transition: all .2s ease;
}

#jumbotron-section > .container .row .col .ms-img-container:hover {
    box-shadow: 0 0 0 2px #2d64e6;
}

#jumbotron-section > .container .row .col .ms-img-container img {
    width: 100%;
    border-radius: 15px;
}

/* ////////////////////////////////////////// */
/* main */

/* sezione ps5 */

main #ps5-section {
    margin-bottom: 150px;
}

main #ps5-section div.container:first-child {
    margin-top: 100px;
    margin-bottom: 150px;
}

main #ps5-section div.container h2 {
    color: #1f1f1f;
    margin-bottom: 30px;
}

main #ps5-section div.container h3 {
    color: #727272;
    margin-bottom: 30px;
}

main #ps5-section div.container h4 {
    color: #2d64e6;
}

main #ps5-section div.container:last-child .row {
    align-items: center;
}

main #ps5-section img {
    width: 100%;
}

main #ps5-section .ms-button .ms-button-inside {
    background-color: #2d64e6;
} 

main #ps5-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #2d64e6;
}

/* ps5 carousel */
main #ps5-section #ps5-carousel{
    align-items: stretch;
}

main #ps5-section #ps5-carousel .col {
    padding-bottom: 20px;
    position: relative;
}

main #ps5-section #ps5-carousel .ms-ps5-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    z-index: 1;
    transition: all .2s ease;
}

main #ps5-section #ps5-carousel .col:hover {
    border-bottom: 2px solid #2d64e6;
}

main #ps5-section #ps5-carousel .col:hover .ms-ps5-overlay {
    display: none;
}

main #ps5-section #ps5-carousel .col img {
    margin-bottom: 20px;
}

/* it takes two jumbotron */
main #jumbotron-two {

    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;

    padding: 50px 0;
}

main #jumbotron-two .container .row div img {
    max-width: 100%;
    margin: 10px 0;
}

main #jumbotron-two h2, main #jumbotron-two p {
    color: #ffffff;
    padding: 20px 0;
}

main #jumbotron-two .ms-button .ms-button-inside {
    background-color: #cd3d0f;
} 

main #jumbotron-two .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #cd3d0f;
}

/* nuove uscite */

main #new-release {
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 100px 0;
}

main #new-release h2, main #new-release h3 {
    margin-bottom: 20px;
}

main #new-release .container .row {
    padding-top: 20px;
}

main #new-release .container .row .col {
    margin-bottom: 30px;
}

main #new-release .container .row .col a {
    text-decoration: none;
    color: #ffffff;
}

main #new-release .container .row .col a:hover img {
    transform: scale(1.03);
}

main #new-release .container .row .col a img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    transition: all .2s ease;
}

/* sezione ps4 */

main #ps4-section{
    padding: 100px 0;
}

main #ps4-section h3 {
    color: #727272;
}

main #ps4-section .ms-wrapper {
    margin-bottom: 50px;
}

main #ps4-section .ms-wrapper h2 {
    margin-bottom: 30px;
}

main #ps4-section .container .row .col {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    main #ps4-section .container .row .col {
        margin-bottom: 0;
    }
    
}

main #ps4-section .container .row .col img {
    max-width: 100%;
    margin-bottom: 10px;
}

main #ps4-section .container .row .col h2 {
    margin-bottom: 20px;
}

main #ps4-section .container .row .col h3 {
    margin-bottom: 20px;
}

main #ps4-section .ms-button .ms-button-inside {
    background-color: #2d64e6;
} 

main #ps4-section .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #2d64e6;
}

/* sezione ps plus  */

main #ps-plus .jumbotron {
    background-color: #bebcbb;
    padding: 50px 0;
}

main #ps-plus .jumbotron .container .row div.col:nth-child(1) img {
    max-width: 80%;
    margin-bottom: 20px;
}

main #ps-plus .jumbotron .container .row div.col:nth-child(2) img {
    max-width: 100%;
    display: none;
}

@media (min-width: 992px) {
    main #ps-plus .jumbotron {
        padding: 0;
    }
    
    main #ps-plus .jumbotron .container .row div.col:nth-child(2) img {
        display: inline-block;
    }   

}

main #ps-plus .ms-button {
    color: #2d64e6;
    margin-top: 20px;
}

main #ps-plus .ms-button .ms-button-inside {
    background-color: #d9dadc;
} 

main #ps-plus .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #d9dadc;
}

/* sezione sconti */
main #discounts{
    padding: 100px 0;
}

main #discounts h3 {
    color: #727272;
}

main #discounts .ms-wrapper {
    margin-bottom: 50px;
}

main #discounts .ms-wrapper h2 {
    margin-bottom: 30px;
}

main #discounts .container .row .col img {
    margin-bottom: 50px;
    max-width: 100%;
    transition: all .2s ease;
}

@media (min-width: 768px) {
    main #discounts .container .row .col img {
        margin-bottom: 0;
    }
}

main #discounts .container .row .col a:hover img {
    transform: scale(1.02);
}

/* sezione ps now */

main #ps-now .jumbotron {
    background-color: #161c3b;
    padding: 50px 0;
    color: #ffffff;
}

main #ps-now .jumbotron .container .row div.col:nth-child(1) img {
    max-width: 80%;
    margin-bottom: 20px;
}

main #ps-now .jumbotron .container .row div.col:nth-child(2) img {
    max-width: 100%;
    display: none;
}

@media (min-width: 992px) {
    main #ps-now .jumbotron {
        padding: 0;
    }
    
    main #ps-now .jumbotron .container .row div.col:nth-child(2) img {
        display: inline-block;
    }   

}

main #ps-now .ms-button {
    color: #000000;
    margin-top: 20px;
}

main #ps-now .ms-button .ms-button-inside {
    background-color: #f5f5f5;
} 

main #ps-now .ms-button:hover .ms-button-border {
    box-shadow: 0 0 0 2px #f5f5f5;
}

/* ////////////////////////////////////////// */
/* footer */

/* social media  */

footer #social-media {
    padding: 100px 0;
}

footer #social-media h2 {
    margin-bottom: 100px;
}

footer #social-media div img {
    width: calc((100% / 2) - 80px );
    margin: 20px;
    transition: all .2s ease;
}

@media (min-width: 768px) {
    footer #social-media div img {
        width: calc((100% / 4) - 80px);
        margin: 0 20px;
    }
}

footer #social-media div a:hover img {
    transform: scale(1.03);
}

/* footer inferiore */

footer #lower-footer {
    background-color: #00439c;
    color: #ffffff;
    padding: 100px 0;
}

footer #lower-footer a {
    color: #ffffff;
    text-decoration: none;
}

footer #lower-footer #ps-logo-footer img {
    height: 100px;
    margin-bottom: 20px;
}

footer #lower-footer #language-selector img {
    height: 20px;
    margin: 0 10px 0 0;
}

footer #lower-footer #footer-nav .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    footer #lower-footer #footer-nav .row {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

footer #lower-footer #footer-nav ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

footer #lower-footer .container > div.row:nth-child(2) img {
    height: 50px;
    margin-bottom: 20px;
}

footer #lower-footer .container > div.row:nth-child(2) p {
    font-size: 1rem;
}

footer #lower-footer .container > div.row:nth-child(2) p a {
    text-decoration: underline;
}